.unitclr {
  color: #01acd7 !important;
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 14px !important;
}

.week-btn a {
  color: #01acd7;
  margin-bottom: 0px;
  line-height: 20px;
  font-size: 14px !important;
}

.week-btn a:hover {
  color: #FFF !important;
}

.week-btn a:focus {
  color: #FFF !important;
}

.weekdivider {
  color: #01acd7;
  overflow: hidden;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 15px;
  margin-right: 20px;
}

.top-bar, .top-bar-section ul li {
  background: #bfeaf5 !important;
}

.activebutton {
  background-color: #01acd7 !important;
  color: #FFF !important;
}

.week-brd-clr {
  border-color: #01acd7 !important;
  margin-bottom: 10px !important;
}

button.secondary, .button.secondary {
  background-color: #e9e9e9;
  border-color: #bababa;
  color: #bfeaf5;
}

.contain-to-grid {
  width: 100%;
  background: #bfeaf5;
}

.contain-to-grid .top-bar {
  margin-bottom: 0;
}

.top-bar {
  background: #bfeaf5;
  color: #01acd7 !important;
  height: 2.8125rem;
  line-height: 2.8125rem;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  border-bottom: solid 1px #01acd7;
  border-top: solid 1px #01acd7;
}

.top-bar.expanded .title-area {
  background: #01acd7;
}

.top-bar-section ul li {
  background: #bfeaf5;
}

.top-bar-section ul li a {
  background: #bfeaf5;
  font-size: 12px;
  color: #01acd7;
  border-right: solid 1px;
  margin-right: 1px;
}

.top-bar-section ul li:hover:not(.has-form) > a {
  color: #FFF;
  background: #01acd7 !important;
}

.top-bar-section ul li.active > a {
  background: #FFF;
  color: #000000;
}

.top-bar-section ul li.active > a:hover {
  background: #FFF;
  color: #000000;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #01acd7;
}

.split {
  position: relative;
  padding-right: 5.0625rem;
  color: #01acd7;
  font-weight: 600;
}

button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 0.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #fff;
  border-color: #c4c4c4;
  color: #000000;
  transition: background-color 300ms ease-out;
}

.top-bar-section .has-dropdown > a:after {
  border: inset 5px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent transparent transparent #01acd7;
  border-left-sstyle: solid;
  margin-right: 0.9375rem;
  margin-top: -4.5px;
  position: absolute;
  top: 50%;
  right: 0;
}

.nav-disc {
  margin: 0px 0px 5px 15px;
  font-size: 13px;
}

.nav-disc a {
  border: 0px !important;
  padding: 5px 10px 5px 10px !important;
}

.nav-disc a:hover {
  background-color: #01acd7 !important;
  color: #FFF;
  border-radius: 50px;
}

.nav-disc .activebutton {
  color: #FFF;
  padding: 8px 13px !important;
  border-radius: 100px;
  font-size: 15px;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #01acd7 !important;
  color: #FFFFFF;
}

button.disabled, button[disabled], .button.disabled, .button[disabled] {
  border-color: #01acd7;
  color: #FFFFFF;
  box-shadow: none;
  cursor: default;
  opacity: 0.7;
}

button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #01acd7;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #01acd7;
  color: #FFFFFF;
  line-height: 2.8125rem;
  padding: 0 0.9375rem;
}

.accordion .accordion-navigation > a, .accordion dd > a {
  border: solid 1px #fff;
  background: #D5D9DB;
  color: #01acd7;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.9rem;
  padding: 1rem;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
  background: #01acd7;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
  background: #01acd7;
  color: #FFFFFF !important;
}

.accordion .accordion-navigation > .content, .accordion dd > .content {
  display: none;
  padding: 0.9375em;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
  background: #FFFFFF;
  display: block;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
  background: #01acd7;
  color: #FFF;
}

.Grd1-clr {
  color: #01acd7;
}

.Grd1-bg {
  background-color: #01acd7;
}

.Grd1-bg-light {
  background-color: #bfeaf5;
}

.Grd1-br {
  border-color: #01acd7;
}

.Grd1-bg {
  background-color: #01acd7;
  color: #FFF;
  font-weight: 400;
}

@media only screen and (max-width: 40em) {
  .top-bar .name h1, .top-bar .name h2, .top-bar .name h3, .top-bar .name h4, .top-bar .name p, .top-bar .name span {
    font-size: 1.0625rem;
    line-height: 2.8125rem;
    margin: 0;
    background-color: #01acd7;
  }

  .sc-nav .top-bar .name h1, .top-bar .name h2, .top-bar .name h3, .top-bar .name h4, .top-bar .name p, .top-bar .name span {
    font-size: 1.0625rem;
    line-height: 2.8125rem;
    margin: 0;
    background-color: #434B4C;
  }
}

/*# sourceMappingURL=grade.css.map */
