.width-33{width: 33.33%;}
.week3-br{border-color: #83c342!important;}
.mini-l-table 
{
	top:0;left:0;
	width:100%;
}

.mini-l-table table
{
	width:100%;
	border-spacing:0;
}

.mini-l-table table
{
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #ef4138;
	border-right-color: #ef4138;
	border-bottom-color: #ef4138;
}
.mini-l-table table,.mini-l-table td
{
	border-collapse:collapse;
	padding:10px;
}

.mini-l-table .mini-line{
	/*border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #ef4138;*/
	font-size:1.2em;
	}
.mini-l-table .st-line{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ef4138;
	}
.mini-l-table .gr-line{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	}
	
.table-vc{
	min-height:80px;
	}
.table-vc2{
	min-height:400px;
	}	
@media (max-width:1024px){
.hide-imgs{
	display:none;
	}
.table-vc2{
	min-height:0px;
	}

}	
	

		
		
		
	